:root {
  --background-bg: rgba(37, 51, 52, 1);
  --background-card: rgba(247, 243, 240, 1);
  --background-icon: rgba(255, 255, 255, 0.9);

  --color-text: rgba(0, 0, 0, 1);
  --color-text-primary: rgba(255, 255, 255, 1);
  --color-text-secondary: rgba(255, 255, 255, 0.5);
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--background-card);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family: 'Alegreya', sans-serif;
}
